<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>JobPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JobRoleServlet</display-name>
    <servlet-name>JobRoleServlet</servlet-name>
    <servlet-class>com.JobRole.JobRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobRoleServlet</servlet-name>
    <url-pattern>/JobRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelJobRole</display-name>
    <servlet-name>DelJobRole</servlet-name>
    <servlet-class>com.JobRole.DelJobRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelJobRole</servlet-name>
    <url-pattern>/DelJobRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdtJobRole</display-name>
    <servlet-name>UpdtJobRole</servlet-name>
    <servlet-class>com.JobRole.UpdtJobRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdtJobRole</servlet-name>
    <url-pattern>/UpdtJobRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobSkill</display-name>
    <servlet-name>AddJobSkill</servlet-name>
    <servlet-class>com.JobSkill.AddJobSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobSkill</servlet-name>
    <url-pattern>/AddJobSkill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdtJobSkill</display-name>
    <servlet-name>UpdtJobSkill</servlet-name>
    <servlet-class>com.JobSkill.UpdtJobSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdtJobSkill</servlet-name>
    <url-pattern>/UpdtJobSkill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelJobSkill</display-name>
    <servlet-name>DelJobSkill</servlet-name>
    <servlet-class>com.JobSkill.DelJobSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelJobSkill</servlet-name>
    <url-pattern>/DelJobSkill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobLocation</display-name>
    <servlet-name>AddJobLocation</servlet-name>
    <servlet-class>com.JobLocation.AddJobLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobLocation</servlet-name>
    <url-pattern>/AddJobLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdtJobLocation</display-name>
    <servlet-name>UpdtJobLocation</servlet-name>
    <servlet-class>com.JobLocation.UpdtJobLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdtJobLocation</servlet-name>
    <url-pattern>/UpdtJobLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelJobLocation</display-name>
    <servlet-name>DelJobLocation</servlet-name>
    <servlet-class>com.JobLocation.DelJobLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelJobLocation</servlet-name>
    <url-pattern>/DelJobLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdtJobCategory</display-name>
    <servlet-name>UpdtJobCategory</servlet-name>
    <servlet-class>com.JobCategory.UpdtJobCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdtJobCategory</servlet-name>
    <url-pattern>/UpdtJobCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelJobCategory</display-name>
    <servlet-name>DelJobCategory</servlet-name>
    <servlet-class>com.JobCategory.DelJobCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelJobCategory</servlet-name>
    <url-pattern>/DelJobCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobCompany</display-name>
    <servlet-name>AddJobCompany</servlet-name>
    <servlet-class>com.JobCompany.AddJobCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobCompany</servlet-name>
    <url-pattern>/AddJobCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelJobCompany</display-name>
    <servlet-name>DelJobCompany</servlet-name>
    <servlet-class>com.JobCompany.DelJobCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelJobCompany</servlet-name>
    <url-pattern>/DelJobCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdtJobCompany</display-name>
    <servlet-name>UpdtJobCompany</servlet-name>
    <servlet-class>com.JobCompany.UpdtJobCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdtJobCompany</servlet-name>
    <url-pattern>/UpdtJobCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobEducation</display-name>
    <servlet-name>AddJobEducation</servlet-name>
    <servlet-class>com.JobEducation.AddJobEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobEducation</servlet-name>
    <url-pattern>/AddJobEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdtJobEducation</display-name>
    <servlet-name>UpdtJobEducation</servlet-name>
    <servlet-class>com.JobEducation.UpdtJobEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdtJobEducation</servlet-name>
    <url-pattern>/UpdtJobEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelJobEducation</display-name>
    <servlet-name>DelJobEducation</servlet-name>
    <servlet-class>com.JobEducation.DelJobEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelJobEducation</servlet-name>
    <url-pattern>/DelJobEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobcat</display-name>
    <servlet-name>AddJobcat</servlet-name>
    <servlet-class>com.JobCategory.AddJobcat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobcat</servlet-name>
    <url-pattern>/AddJobcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobServlet</display-name>
    <servlet-name>AddJobServlet</servlet-name>
    <servlet-class>com.JobCategory.AddJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobServlet</servlet-name>
    <url-pattern>/AddJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dfghjk</display-name>
    <servlet-name>dfghjk</servlet-name>
    <servlet-class>com.JobCategory.dfghjk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dfghjk</servlet-name>
    <url-pattern>/dfghjk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobCategory</display-name>
    <servlet-name>AddJobCategory</servlet-name>
    <servlet-class>com.JobCategory.AddJobCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobCategory</servlet-name>
    <url-pattern>/AddJobCategory</url-pattern>
  </servlet-mapping>
</web-app>